.table {
  font-family: 'Roboto Condensed', sans-serif;
}

label {
  margin-right: 10px;
}

.card-summary {
  margin-bottom: 15px;
}

.jumbotron {
  padding: 32px 0px 32px 0px;
  margin-bottom: 16px;
}

.main-table > thead, .main-table > thead > tr > th {
  height: 65px;
}

#table-eval > thead > tr > th {
  font-size: 1.1em;
  vertical-align: middle !important;
}

#table-eval > tbody {
  font-size: 1.25em;
}
